.iconWrapper {
  border-radius: 100%;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  flex: 0 0 auto;
}
.blueCheck {
  background-color: #e8edfb;
}
.grayCross {
  background-color: #f7f8f9;
}
