.card {
  padding: 53px 32px;
  border-radius: 16px;
  /* background-color: #007aff; */

  font-size: 18px;
}
.cardBlue {
  padding: 53px 32px;
  border-radius: 16px;
  background-color: #007aff;

  font-size: 18px;
}
.cardBlue * {
  color: white;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.titleBlue {
  font-size: 24px;
  font-weight: normal;
  color: #fff;
}
.description {
  margin-top: 16px;
  line-height: 155%;
  color: #505056;
}
.descriptionBlue {
  margin-top: 16px;
  padding-bottom: 20px;
  color: #f7f8f9;
  line-height: 155%;
}
.priceWrapper {
  margin-top: 25px;

  display: flex;
  align-items: center;
}
.price {
  font-size: 56px;
  font-family: 'Nunito';

  margin-right: 10px;
}
.priceBlue {
  font-size: 56px;
  font-family: 'Nunito';

  margin-right: 10px;
}
.button {
  width: 100%;
  padding: 12px 0;
  margin: 32px 0 52px 0;
  border: 2px solid #007aff;
  border-radius: 6px;
  color: #007aff;
  font-size: 22px;
  background-color: #fff;
}
.itemsWrapper {
}

.perTime {
  color: #4b5768;
}
.elementSpan {
  line-height: 150%;
}
